:root {
    --morado: #3a0c63;
    --neon: 0 0 5px #fff, 0 0 10px #a855f7
}

body {
    background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, .03), transparent 60%), conic-gradient(from 0deg at 50% 50%, #111 0deg, #000 90deg, #111 180deg, #000 270deg, #111 360deg);
    background-size: 200% 200%;
    animation: fondoTrigo 20s ease-in-out infinite
}

@keyframes fondoTrigo {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

#sidebar {
    background-color: var(--morado);
    height: 100vh;
    padding-top: 20px
}

#sidebar .nav-link {
    color: #eee;
    padding: 12px 20px;
    font-size: 1.05rem;
    border-left: 4px solid transparent;
    transition: background .3s ease, border-left .3s ease
}

#sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, .05);
    border-left: 4px solid #fff
}

#sidebar .nav-link.active {
    background-color: rgba(255, 255, 255, .15);
    border-left: 4px solid #fff;
    font-weight: 700;
    text-shadow: var(--neon)
}

.btn-purple {
    background-color: var(--morado);
    color: #fff;
    border: none
}

.btn-purple:hover {
    background-color: #551c80
}

.crear-curso-btn {
    background: #1c1c1c;
    border: 2px dashed #666;
    transition: background .3s ease
}

.crear-curso-btn:hover {
    background: #292929
}

.card {
    height: 100%
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px
}